.container{
    text-align: right;
    margin-top: 50px;
}
.intro{
    text-align: center;
}
h3{
    opacity: 0.5;
}
table{
    margin: auto;
}

input{
    border-radius: 13px;
    border: 2px solid #632103;
    font-size: 34px;
    height: 80px;
    width: 80px;
    margin: auto;
}

button{
    border-radius: 0px;
    font-size: 40px;
    background: #909df1;
    width: 90px;
    height: 85px;
    margin: 10px;
}

.calculator{
    border: 4px solid #111111;
    background-color: #f7dd8a;
    padding: 23px;
    border-radius: 10px;
    display: flex;
    width: 400px;
    height: 572px;
}

h1{
    font-size: 28px;
}   

#result{
    width: 127%;
    border: 3px solid rgba(165, 42, 42, 0.671);
    border-radius: 20px;
}
